body {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Noto Serif", Garamond, serif;
}

.page-header a {
  color: inherit;
  text-decoration: inherit;
}

.meta {
  color: #aaa;
  font-size: smaller;
}

input, textarea {
  line-height: normal;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}